/* index html......... 
Universal styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif, Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  scroll-behavior: smooth;
}


/* defining colors */
:root {
  --navibar: #1b1b1b;
  --lightgeneral: #9d96963a;
  --hovercolor: #00ffff;
  --currentback: #27365d;
  --button1: rgb(148, 8, 136);
  --hoverfade: #5b8686;
  --projectspage: rgba(117, 151, 164, 0.23);
  --contactbackground: #5b8686c6;
  --footerbackground: rgba(4, 90, 84, 0.781);
}

/* part 1: navigation bar styling */
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  background: var(--navibar);
  padding: 0 50px;
  color: var(--lightgeneral);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header .logo {
  font-size: 1.5em;
  color: var(--hovercolor);
  font-weight: 500;
  font-style: italic;
  text-decoration: none;
}

.nav_bar ul {
  list-style: none;
  overflow: hidden;
}

.header .nav_bar ul li {
  display: inline-block;
}

.header .nav_bar ul li a {
  text-decoration: none;
  color: var(--button1);
  padding: 0 20px;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  line-height: 30px;
  transition: 0.25s;
}

.header .nav_bar ul li a:hover {
  color: var(--hovercolor);
  /* background: var(--currentback); */
}

.header .nav_bar ul li a.active {
  color: var(--hovercolor);
  background-color: var(--currentback);
  padding: 5px;
}

.header .menu_icon {
  font-size: 30px;
  color: var(--button1);
  cursor: pointer;
}

.menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0px 10px;
    margin: 0px;
    justify-content: space-between;
    height: 60px;
    /* display: fixed; */
    /* margin: 0; */
  }

  .header .logo {
    font-size: 16px;
  }

  .header .menu {
    display: block;
  }

  .header .nav_bar {
    position: absolute;
    background: var(--navibar);
    width: 100%;
    margin: 0px;
    height: 0vh;
    top: 60px;
    left: 0;
    overflow: hidden;
    transition: 0.3s;
    border-bottom: 1px solid var(--hoverfade);
  }

  .header .add_cls {
    height: 31.1vh;
  }

  .header .nav_bar ul li {
    display: block;
    text-align: center;
    border-top: 1px solid var(--hoverfade);
  }

  .header .nav_bar ul li a {
    line-height: 50px;
    font-size: 20px;
  }
}

@media screen and (max-width: 375px) {
  .header {
    margin: 0;
  }

  .header .nav_bar ul li a {
    font-size: 20px;
    line-height: 40px;
    padding: 0px;
  }

  .header .add_cls {
    height: 25vh;
  }
}

/* part 2: home landing page styles */
.home_image {
  z-index: 0;
  margin-top: 60px;
  background-image: url("images/home-page-image.png");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 88vh;
  height: 100%;
  width: 100%;
  image-rendering: auto;
}

.home_image::after {
  content: "";
  /* position: absolute; */
  top: 0;
  left: 0;
}

.home_image .home_content {
  line-height: 1.2;
  padding: 0 50px;
  /* font-weight: bolder; */
  text-align: center;
  padding-top: 150px;
}

.home_image .home_content .name {
  font-size: 50px;
  font-weight: bolder;
  padding-bottom: 10px;
}

.home_image .home_content .title {
  font-size: 75px;
  font-weight: bolder;
  padding-bottom: 20px;
  padding-top: 20px;
  text-shadow: 2px 2px var(--navibar);
}

.home_image .home_content p {
  font-weight: 500;
  font-size: 25px;
  padding-top: 10px;
}

.home_image .home_content button {
  border: none;
  outline: none;
  margin-top: 30px;
}

.home_image .home_content .home_button {
  font-size: 20px;
  font-weight: 500;
  color: var(--hovercolor);
  background: var(--navibar);
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  outline: none;
  padding: 8px 18px;
  border-radius: 10px;
  font-weight: bold;
}


.home_image .home_content .home_button:hover {
  background-color: rgba(255, 255, 255, 0.968);
  border: none;
  color: var(--button1);

}

@media screen and (max-width: 768px) {
  .home_image {
    height: 100%;
  }

  .home_image .home_content {
    padding: 50px;
  }

  .home_image .home_content .name {
    font-size: 38px;
    padding-bottom: 35px;
  }

  .home_image .home_content .title {
    font-size: 45px;
    text-shadow: 1px 1px var(--navibar);
    padding: 0px;
  }

  .home_image .home_content .home_desc {
    font-size: 25px;
    padding: 5px 5px;
    margin: 15px 15px;
  }

  .home_image .home_content button {
    margin: 10px;
  }

  .home_image .home_content .home_button {
    font-size: 20px;
    padding: 5px;
  }
}

@media screen and (max-width: 410px) {
  .home_image .home_content {
    padding: 30px;
  }

  .home_image .home_content .name {
    font-size: 30px;
    padding-bottom: 35px;
  }

  .home_image .home_content .title {
    font-size: 35px;
    text-shadow: 1px 1px var(--navibar);
    /* padding: 0px; */
  }

  .home_image .home_content .home_desc {
    font-size: 20px;
    padding-top: 20px;
    margin: 10px 10px;
  }

  .home_image .home_content button {
    margin: 20px;
  }

  .home_image .home_content .home_button {
    font-size: 20px;
    padding: 8px;
  }
}

@media screen and (max-width: 375px) {
  .header {
    /* height: 100%; */
    width: 100%;
  }

  .home_image {
    height: 100%;
  }

  .home_image .home_content {
    padding-top: 20px;
    padding-left: 5px;
  }

  .home_image .home_content .name {
    font-size: 25px;
    padding-bottom: 5px;
  }

  .home_image .home_content .title {
    font-size: 20px;
    padding-top: 5px;
  }

  .home_image .home_content .home_desc {
    font-size: 14px;
    padding: 0px;
    /* margin: 10px; */
  }

  .home_image .home_content button {
    margin: 10px;
  }

  .home_image .home_content .home_button {
    font-size: 15px;
    padding: 5px;
  }
}

/* Part 3: about me  */
.about_page {
  padding: 40px;
  width: 100%;
  background-color: var(--projectspage);
  position: relative;
}

.about_page h1 {
  font-size: 60px;
  color: var(--button1);
  font-weight: bolder;
  text-align: center;
}

.about_page .profile_image .pic_image {
  height: 380px;
  float: left;
  margin: 10px;
  padding: 10px;
  border-right: 5px solid var(--currentback);
  padding-right: 40px;
  margin-right: 40px;
}

.about_page .about_section {
  padding-top: 0px;
}

.about_page .about_section h2 {
  font-size: 25px;
  font-weight: bold;
  text-align: justify;
  padding: 10px;
}

.about_page .about_section p {
  font-size: 20px;
  padding: 10px;
}

.about_page .about_section .social_links {
  padding-top: 20px;
  margin: 10px;
  text-align: center;
}

.about_page .about_section .social_links a {
  text-decoration: none;
  padding: 16px;
  background-color: var(--navibar);
  margin: 40px;
  border-radius: 50%;
}

.about_page .about_section .social_links a:hover {
  background-color: var(--currentback);
  transition: 0.5s;
}

.about_page .about_section .social_links a i {
  font-size: 25px;
  color: white;
}

.about_page .about_section.social_links a i:hover {
  color: var(--hovercolor);
  transition: 0.5s;
}

.about_page .about_section button .about_button {
  font-size: 20px;
  font-weight: 500;
  color: var(--hovercolor);
  background: var(--navibar);
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  outline: none;
  padding: 8px 18px;
  border-radius: 10px;
}

.about_section button .about_button:hover {
  color: var(--button1);
  font-weight: bolder;
  background: var(--hoverfade);
  transition: 0.3s;
}

@media screen and (max-width: 786px) {
  .about_page {
    padding: 15px;
    position: relative;
  }

  .about_page .about_section {
    padding: 5px;
  }

  .about_page .about_section .social_links a {
    padding: 15px;
    margin: 20px;
    font-size: 15px;
  }

  .about_page .about_section .social_links a i {
    font-size: 20px;
  }
}

@media screen and (max-width:560px) {
  .about_page .profile_image .pic_image {
    border-right: none;
    padding-right: 10px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 420px) {
  .about_page {
    padding: 0px;
  }

  .about_page h1 {
    padding-top: 20px;
    font-size: 25px;

  }

  .about_page .about_section {
    padding: 10px;
    margin: 0px;
  }

  .about_page .about_section h2 {
    font-size: 20px;
  }

  .about_page .about_section button .about_button {
    font-size: 15px;
    padding: 8px;
  }

  .about_page .about_section p {
    font-size: 15px;
  }

  .about_page .about_section .social_links a {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
  }

  .about_page .about_section .social_links a i {
    padding: 5px;
    margin-top: 0px;
    font-size: 20px;
  }

  .about_page .profile_image .pic_image {
    margin: 20px;
    height: 340px;
  }
}

@media screen and (max-width: 375px) {
  .about_page h1 {
    padding-top: 0px;
    font-size: 25px;

  }

  .about_page .profile_image .pic_image {
    width: 80%;
    height: 80%;
    /* object-fit:fill; */
  }

  .about_page .about_section button .about_button {
    font-size: 10px;
    padding: 8px;
  }

  .about_page .about_section .social_links a {
    padding: 4px;
    margin: 0px;
    font-size: 15px;
  }

  .about_page .about_section .social_links a i {
    padding: 4px;
    margin: 0px;
    font-size: 14px;
  }

}

/* Part 4: project highlights page style */
.projects_highlight {
  position: relative;
  z-index: 0;
}

.projects_page {
  background-color: var(--lightgeneral);
  padding: 40px;

}

.projects_page h1 {
  font-size: 50px;
  padding-top: 40px;
  margin-bottom: 0px;
  font-weight: bolder;
  text-align: center;
  color: var(--button1);
}

.projects_page .card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: auto;
  /* max-width: 1100px; */
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;

}

.card-list .card-item {
  list-style: none;
}

.card-list .card-item .card-link {
  user-select: none;
  display: block;
  background: #5b86869c;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 3px 10px 10px rgb(0, 0, 0, 0.25);
  transition: 0.2s ease;
}

.card-list .card-item .card-link:active {
  cursor: grabbing;
}

.card-list .card-item .card-link:hover {
  border-color: var(--button1);
}

.card-list .card-link .card-image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: fill;
  border-radius: 10px;
}

.card-list .card-link .badge {
  color: var(--currentback);
  font-weight: bold;
  padding: 0 8px;
  font-size: 25px;
}

.card-list .card-link h3 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-style: italic;
  padding: 8px 16px;
  font-weight: 300;
}

.card-list .card-link .card-title {
  font-size: 20px;
  color: black;
  font-weight: 400;
}

.card-list .card-link .card-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 20px 0 5px;
  transform: rotate(-45deg);
  background: var(--button1);
  cursor: pointer;
  color: white;
  font-size: 40px;
  transition: 0.4s ease;
  border: 2px solid var(--button1);

}

.card-list .card-link:hover .card-button {
  color: var(--hovercolor);
  background: var(--currentback);
  border: none;
}

.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  background: var(--button1);
  padding: 0px;
  margin: 0px;
}

.card-wrapper .swiper-slide-button {
  color: var(--button1);
  margin-top: -35px;
}



@media screen and (max-width:768px) {
  .card-wrapper {
    margin: 0 10px 25px;
  }

}

@media screen and (max-width:450px) {
  .projects_page .card-wrapper {
    margin: 0 30px 35px;
  }

  .projects_page h1 {
    font-size: 25px;
    padding-bottom: 15px;
  }

  .card-list .card-link .card-title {
    font-size: 15px;
  }

  .card-list .card-link .badge {
    font-size: 17px;
  }

  .card-list .card-link h3 {
    font-size: 17px;
  }

  .card-wrapper .swiper-slide-button {
    color: var(--button1);
    margin-top: auto;
    margin-left: -5px;
    margin-right: -5px;
  }

  .card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;

  }

}

@media screen and (max-width:375px) {
  .projects_page {
    margin: 0px;
    padding: 0px;
  }

  .card-wrapper .swiper-slide-button {
    display: none;
  }

  .projects_page h1 {
    font-size: 20px;
  }

  .projects_page .card-wrapper {
    margin: 20px;
    padding: 0px;
  }

  .card-list .card-link .badge {
    font-size: 13px;
    padding: 0px;
  }

  .card-list .card-link h3 {
    font-size: 17px;
    padding: 0px;
  }

  .card-list .card-link .card-title {
    font-size: 12px;
    padding: 0px;
  }

  .card-list .card-link .card-button {
    height: 30px;
    width: 30px;
    margin: 5px 0 5px;

    font-size: 30px;

  }

  .card-wrapper .swiper-pagination-bullet {
    height: 10px;
    width: 10px;

  }

}

/* Part 5: Current work page styling  */
.currents {
  padding: 40px;
  background-color: var(--projectspage);
  height: auto;
}

.currents h1 {
  font-size: 60px;
  text-align: center;
  font-weight: bolder;
  color: var(--button1);
  padding-bottom: 10px;
}

.currents .works {
  display: grid;
}

.currents .works .pics {
  display: grid;
  width: 100%;
  grid-template-columns: 70% 30%;
  gap: 0px;

}

.currents .works .pics .images {
  gap: 0px;
  border-right: 5px solid var(--currentback);
  /* width: auto; */

}

.currents .works .pics .images a {
  height: 200px;
}

.currents .works .pics .images a img {
  width: 31%;
}

.currents .works .pics .text {
  padding-left: 30px;
  text-align: center;
  align-items: center;
  padding-top: 100px;

}

.currents .works .pics .text p {
  font-size: 20px;
  margin-bottom: 20px;
}

 /* .currents .works .pics .images {
  position: relative;
} */



.currents .works .pics .text a {
  font-size: 20px;
  text-decoration: none;
  color: var(--navibar);
  font-weight: bold;
  border: 2px solid var(--navibar);
  border-radius: 30px;
  padding: 10px;

}

.currents .works .pics .text a:hover {
  color: var(--hovercolor);
  background: var(--hoverfade);
  transition: 0.3s ease;
  border: none;
}

@media screen and (max-width:786px) {
  .currents .works .pics .text a {
    padding: 5px;
    font-size: 20px;
  }

  .currents .works .pics .text {
    padding-left: 10px;
  }
}

@media screen and (max-width:640px) {
  .currents {
    padding: 20px;
  }

  .currents .works .pics .text a {
    padding: 5px;
    font-size: 15px;
  }

}

@media screen and (max-width:480px) {
  .currents {
    padding: 30px;
  }

  .currents h1 {
    font-size: 25px;
  }

  .currents .works .pics {
    display: block;
    grid-template-columns: none
  }

  .currents .works .pics .images {
    border-right: none;

  }

  .currents .works .pics .text {
    padding-top: 10px;
  }

  .currents .works .pics .text p {
    font-size: 15px;
  }

  .currents .works .pics .images a img {
    width: 40%;
  }
}

@media screen and (max-width:375px) {
  .currents {
    padding: 8px;
  }

  .currents .works .pics .text a {
    padding: 5px;
    font-size: 13px;
  }
}


/* Part 6: Contact page styling */
.contact_page {
  align-items: center;
  width: 100%;
  min-height: 60vh;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  background: var(--contactbackground);
}

.contact_page .contact_contents {
  border: 2px var(--navibar);
  color: var(--navibar);
  padding-top: 20px;
  opacity: 1;
  margin: 20px;
}

.contact_page .contact_contents h1 {
  color: var(--button1);
  font-size: 50px;
  font-weight: bolder;
  /* padding-bottom: 25px; */
  position: relative;
  margin-bottom: 50px;
}

.contact_page .contact_contents h1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  height: 1.5px;
  top: 110%;
  left: 0;
  background-color: var(--navibar);
}

.contact_page .contact_contents p {
  font-size: 25px;
  line-height: 1.2;
  padding: 10px;
  font-weight: 300px;
  text-align: center;
  font-style: italic;
}

.contact_page .contact_contents p a {
  color: var(--button1);
  font-weight: 400px;
  font-size: 30px;
}

.contact_page .contact_contents .close {
  margin-top: 25px;
  /* padding-top: 50px; */
}

@media screen and (max-width: 435px) {
  .contact_page .contact_contents {
    padding: 5px;
    /* display: flex; */
    z-index: 0;
  }

  .contact_page .contact_contents h1 {
    font-size: 25px;
  }

  .contact_page .contact_contents p {
    font-size: 20px;
    /* padding: 0px; */
  }

  .contact_page .contact_contents p a {
    font-weight: 300px;
    font-size: 20px;
  }

  .currents .works .pics .images {
    padding-left: 10px;
  }

  .currents .works .pics .images a img {
    width: 48%;
  }

  .contact_page .contact_contents .close {
    margin-top: 0px;
  }
}

@media screen and (max-width: 375px) {
  .contact_page .contact_contents h1 {
    font-size: 25px;
  }

  .contact_page .contact_contents p {
    font-size: 16px;
  }

  .contact_page .contact_contents p a {
    font-size: 8.8px;
  }
}


/* Part 7: Footer stles  */
.footer_page {
  background: var(--footerbackground);
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  padding: 15px;
}

.footer_page h2 {
  font-size: 25px;
  font-weight: bolder;
  padding-bottom: 5px;
}

.footer_page .social_links {
  padding: 10px;
}

.footer_page .social_links a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.footer_page .social_links a:hover {
  background-color: var(--navibar);
  transition: 0.5s;
}

.footer_page .social_links a i {
  font-size: 25px;
  color: var(--navibar);
  /* text-align: center; */
}

.footer_page .social_links a i:hover {
  color: white;
  transition: 0.5s;
}

.footer_bottom {
  color: white;
  background: var(--navibar);
  padding: 15px;
  text-align: center;
  font-size: 150px;
}

.footer_bottom p {
  font-size: 15px;
}


@media screen and (max-width: 375px) {
  .footer_page {
    padding: 5px;
    z-index: 0;
  }

  .footer_page h2 {
    font-size: 20px;
  }

  .footer_page .social_links {
    padding: 5px;
  }

  .currents .works .pics {
    padding-bottom: 20px;
  }

  .footer_page .social_links a {
    margin: 0px;
    padding: 5px;
    font-size: 15px;
  }

  .footer_page .social_links a i {
    font-size: 15px;
    padding: 3px;
  }
}

/* Document 2: About html */
/* Part 2: About Landing Page  */
.home_landing {
  margin-top: 60px;
  padding: 40px;
  width: 100%;
  background-color: var(--projectspage);
  position: relative;
}

.home_landing h1 {
  font-size: 60px;
  color: var(--button1);
  font-weight: bolder;
  text-align: center;
}

.home_landing .aboutme_content .me_image {
  height: 500px;
  float: left;
  margin: 10px;
  padding: 10px;
  border-right: 5px solid var(--currentback);
  padding-right: 40px;
  margin-right: 40px;

}

.home_landing.about_section {
  padding-top: 0px;


}

.home_landing .about_section p {
  font-size: 20px;
  padding: 10px;
  /* padding-right: 100px; */


}

.home_landing .about_section p a {
  color: var(--button1);
  font-size: 20px;
}

.home_landing .about_section p a:hover {
  font-weight: bolder;
}

.home_landing .about_section .social_links {
  padding-top: 20px;
  margin: 10px;
  text-align: center;
  padding-bottom: 40px;
}

.home_landing .about_section .social_links a {
  text-decoration: none;
  padding: 16px;
  background-color: var(--navibar);
  margin: 40px;
  border-radius: 50%;
}

.home_landing .about_section .social_links a:hover {
  background-color: var(--currentback);
  transition: 0.5s;
}

.home_landing .about_section .social_links a i {

  color: white;
  font-size: 25px;
}

.home_landing .about_section .social_links a i:hover {
  color: var(--hovercolor);
  transition: 0.5s;
}

@media screen and (max-width: 786px) {

  .home_landing {
    /* margin-top: 0px; */
    padding: 15px;
    position: relative;
  }

  .home_landing .about_section {
    padding: 5px;
  }

  .home_landing .about_section .social_links {
    padding-bottom: 20px;
  }

  .home_landing .about_section .social_links a {
    margin: 20px;
    padding: 15px;
    font-size: 15px;
  }

  .home_landing .about_section .social_links a i {
    font-size: 20px;
  }

  .home_landing .aboutme_content .me_image {
    width: 80%;
    height: 100%;
    object-fit: contain;
    position: relative;
    padding-right: 0px;
    border: none;
    margin-right: 20px;
  }
}

@media screen and (max-width: 420px) {
  .home_landing {
    padding: 0px;
  }

  .home_landing h1 {
    font-size: 25px;
    padding-top: 20px;
  }

  .home_landing .aboutme_content .me_image {
    margin-right: 0px;
  }

  .home_landing .about_section {
    padding: 10px;
    margin: 0px;
  }

  .home_landing .about_section p {
    font-size: 15px;
  }

  .home_landing .about_section p a {
    font-size: 15px;
  }


  .home_landing .about_section .social_links a {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
  }

  .home_landing .about_section .social_links a i {
    padding: 5px;
    margin-top: 0px;
    font-size: 20px;
  }

  .home_landing .aboutme_content .me_image {
    width: 80%;
    margin: 20px;
    /*to remove excess words on the left */
  }
}

@media screen and (max-width: 375px) {
  .home_landing {
    /* margin-top: 0px; */
    padding: 5px;
    /* position: relative; */
  }

  .home_landing .about_section {
    padding: 0px;
    margin: 0px;
  }

  .home_landing .about_section p a {
    font-size: 7px;
  }

  .home_landing .about_section .social_links {
    padding-bottom: 10px;
  }

  .home_landing .about_section .social_links a {
    padding: 4px;
    margin: 10px;
    font-size: 15px;
  }

  .home_landing .about_section .social_links a i {
    padding: 4px;
    margin-top: 0px;
    font-size: 14px;
  }
}

@media screen and (max-width: 205px) {
  .home_landing .about_section .social_links a {
    margin: 2px;
  }
}

@media screen and (max-width: 153px) {
  .home_landing .about_section .social_links a {
    margin: 0px;
  }
}

/* Part 3: Research Interest */
.research_interest {
  padding: 40px;
  width: 100%;
  background-color: var(--lightgeneral);
  position: relative;
}

.research_interest h1 {
  font-size: 40px;
  color: var(--button1);
  font-weight: bolder;
  text-align: center;
}

.research_interest h2 {
  font-size: 30px;
  color: var(--currentback);
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
}

.research_interest p {
  font-size: 20px;
  line-height: 2.0;
}

.skills {
  padding: 30px;
}

.skills ol {
  padding-left: 40px;
}

.skills ol li {
  font-size: 20px;
  line-height: 1.5;
}

.skills ol li span {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}

button {
  border: none;
  outline: none;
  margin-top: 30px;
}

.research_interest .resume {
  font-size: 20px;
  font-weight: bold;
  color: var(--button1);
  background: var(--navibar);
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  outline: none;
  padding: 12px;
  border-radius: 10px;
}

.research_interest .resume:hover {
  color: var(--hovercolor);
  background: var(--currentback);
  text-decoration: underline;
  transition: 0.3s;
}


@media screen and (max-width:410px) {

  .research_interest {
    padding: 25px;
  }

  .research_interest h1 {
    font-size: 25px;
    padding-bottom: 10px;
  }

  .research_interest h2 {
    font-size: 20px;
  }

  .research_interest p {
    font-size: 15px;
  }

  .skills {
    padding: 20px;
  }

  .skills ol {
    padding-left: 20px;
  }

  .skills ol li {
    font-size: 15px;
    line-height: 1.5;
  }

  .skills ol li span {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
  }

  button {
    margin-top: 15px;
  }

  .research_interest .resume {
    font-size: 15px;
    padding: 8px;

  }
}

@media screen and (max-width: 375px) {
  .research_interest {
    padding: 10px;
  }

  .research_interest h1 {
    font-size: 25px;
  }

  .research_interest h2 {
    font-size: 20px;
  }

  .research_interest p {
    font-size: 14px;
  }

  .skills {
    padding: 10px;
  }

  .skills ol {
    padding-left: 10px;
  }

  .skills ol li {
    font-size: 14px;
    line-height: 1.5;
  }

  .skills ol li span {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
  }

  button {
    margin-top: 5px;
  }

  .research_interest .resume {
    font-size: 10px;
    padding: 7px;

  }
}

/* Document3: Resume */
.my_resume {
  width: 100%;
  height: auto;
  margin-top: 60px;
  padding: 40px;
  width: 100%;
  background-color: var(--projectspage);
  position: relative;
  display: grid;
  place-items: center;
}

.my_resume h1 {
  font-size: 60px;
  color: var(--button1);
  font-weight: bolder;
  text-align: center;
}

.my_resume .heading {
  font-size: 30px;
  text-align: center;
  color: var(--currentback);
  font-weight: bold;
  position: relative;
  margin-bottom: 80px;
}

/* .heading::after {
  position: absolute;
  content: ' ';
  width: 50%;
  height: 3px;
  left: 50%;
  bottom: -5px;
  background-image: linear-gradient(to right, rgb(106, 6, 236), rgb(220, 0, 240));
  transform: translateX(-50%);
} */

.resume_timeline {
  width: 70%;
  height: auto;
  position: relative;
  z-index: 0;
}

/* .resume_timeline::after {
  position: absolute;
  content: ' ';
  width: 2px;
  height: 100%;
  background-image: linear-gradient(to bottom, rgb(106, 6, 236), rgb(220, 0, 240)); */
/* left: 50%;
  top: 0;
  transform: translateX(-50%);*/
/* z-index: 1;  
}*/

.resume_timeline ul {
  list-style: none;
}

.resume_timeline ul::after {
  position: absolute;
  content: ' ';
  width: 2px;
  height: 100%;
  background-image: linear-gradient(to bottom, rgb(106, 6, 236), rgb(220, 0, 240));
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 0;
}

.resume_timeline ul li {
  width: 50%;
  height: auto;
  padding: 15px 20px;
  background-color: var(--lightgeneral);
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.299);
  border-radius: 10px;
  margin-bottom: 30px;
  z-index: 99;
  position: relative;
}

.resume_timeline ul li:nth-child(odd) {
  float: left;
  clear: right;
  transform: translateX(-30px);
}

.resume_timeline ul li:nth-child(even) {
  float: right;
  clear: left;
  transform: translateX(30px);
}

/* change 3 to the entry of works */
.resume_timeline ul li:nth-child(3) {
  margin-bottom: 0;
}

.resume_timeline ul li .date {
  font-size: 25px;
  font-weight: bold;
}

.resume_timeline ul li .place {
  font-size: 15px;
  font-style: italic;
  padding-bottom: 10px;
}

.resume_timeline ul li .title {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
}

.resume_timeline ul li .circle {
  width: 30px;
  height: 30px;
  background-color: var(--button1);
  border-radius: 50%;
  position: absolute;
  top: 0;
}

.resume_timeline ul li .circle::after {
  content: ' ';
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resume_timeline ul li:nth-child(odd) .circle {
  right: -30px;
  transform: translate(50%, -50%);
}

.resume_timeline ul li:nth-child(even) .circle {
  left: -30px;
  transform: translate(-50%, -50%);
}

ul li p {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .resume_timeline {
    width: 85%;
  }
}

@media screen and (max-width: 600px) {
  .resume_timeline {
    width: 80%;
  }

  .resume_timeline ul::after {
    left: -30px;
  }

  .resume_timeline ul li {
    width: 100%;
    float: none;
    clear: none;
    margin-bottom: 80px;

  }

  .resume_timeline ul li:nth-child(odd) {
    transform: translateX(0);

  }

  .resume_timeline ul li:nth-child(odd) .circle {
    left: -30px;
    transform: translate(-50%, -50%);
  }

  .resume_timeline ul li:nth-child(even) {
    transform: translateX(0);
  }
}

@media screen and (max-width:410px) {
  .my_resume h1 {
    font-size: 25px;
    padding-bottom: 10px;
  }

  .my_resume .heading {
    font-size: 20px;
    margin-bottom: 25px;
  }

  .resume_timeline ul li .date {
    font-size: 20px;
  }

  .resume_timeline ul li .title {
    font-size: 20px;
  }

  ul li p {
    font-size: 15px;
  }
}

@media screen and (max-width: 375px) {
  .my_resume h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 275px) {
  .my_resume {
    padding: 10px;
    /* display: inline-block; */
  }

  .resume_timeline ul::after {
    left: -20px;
  }

  .my_resume h1 {
    font-size: 28px;
    /* margin: 0px; */
  }

  .my_resume .heading {
    font-size: 20px;
  }

  .resume_timeline {
    padding: 8px;
  }

  .resume_timeline ul li {
    padding: 8px 10px;
  }

  .resume_timeline ul li .date {
    font-size: 20px;
  }

  .resume_timeline ul li .place {
    font-size: 12px;
  }

  .resume_timeline ul li .title {
    font-size: 18px;
  }

  ul li p {
    font-size: 10px;
  }
}

/* Part 3 Education Section  */
.education {
  padding: 40px 10%;
  width: 100%;
  background-color: var(--lightgeneral);
  position: relative;
}

.education h2 {
  font-size: 40px;
  color: var(--button1);
  font-weight: bolder;
  text-align: center;
}

.education .education_timeline {
  padding: 0px 30px;
  border-left: 2px solid rgb(220, 0, 240);
}

.education .education_timeline .first {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--currentback);
}

.education .education_timeline .first .dates {
  font-size: 25px;
  font-weight: bold;
  color: var(--currentback);
}

.education .education_timeline .first .program {
  font-size: 25px;
  font-weight: bolder;
}

.education .education_timeline .first .school {
  font-size: 20px;
  font-style: italic;
}

@media screen and (max-width:410px) {
  .education h2 {
    font-size: 25px;
    padding-bottom: 10px;
  }

  .education .education_timeline .first .dates {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .education .education_timeline .first .program {
    font-size: 20px;
    padding-bottom: 10px;
  }

}

@media screen and (max-width: 375px) {
  .education {
    padding: 10px 5%;
  }

  .education h2 {
    font-size: 21px;
  }

  .education .education_timeline {
    padding: 0px 7px;
  }

  .education .education_timeline .first .dates {
    font-size: 20px;
  }

  .education .education_timeline .first .program {
    font-size: 16px;
    font-weight: bolder;
  }

  .education .education_timeline .first .school {
    font-size: 14px;
  }
}

/* Certification Style  */
.certification h2 {
  font-weight: bolder;
}

.certification .buttons {
  text-align: center;
}

.certification button {
  /* min-width: 150px; */
  border: 1px solid var(--navibar);
  border-radius: 50px;
  padding: 15px 20px;
  background-color: var(--projectspage);
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.4s;
  margin-top: 20px;
  /* align-items: center; */
}

.certification button:hover {
  background-color: var(--hoverfade);
}

.certification a {
  text-decoration: none;
  font-size: 20px;
  /* font-weight: 200; */
  color: var(--navibar);
  padding: 10px;
}

a:hover {
  font-weight: bold;
}

.certification h3 {
  font-size: 25px;
  font-weight: bold;
  color: var(--currentback);
  padding-top: 20px;
}

.certification ol {
  padding-left: 40px;
}

.certification li {
  font-size: 20px;
  padding: 3px;
}

.certification .train {
  padding-top: 20px;
}

@media screen and (max-width:410px) {
  .certification h2 {
    font-size: 20px;
    padding-bottom: 0px;
  }

  .certification h3 {
    font-size: 17px;
  }

  .certification li {
    font-size: 15px;
  }

  .certification button {
    font-size: 15px;
    padding: 8px;
  }

}

@media screen and (max-width: 375px) {
  .certification h2 {
    font-size: 19px;
  }

  .certification button {
    padding: 10px 10px;
    border-radius: 25px;

  }

  .certification a {
    font-size: 15px;
    padding: 0px;
  }

  .certification h3 {
    font-size: 18px;
  }

  .certification ol {
    padding-left: 18px;
  }

  .certification li {
    font-size: 14px;
  }

  .certification button {
    font-size: 10px;
    padding: 8px;
  }
}


/* Document 4 : Portifolio */
.portfolio_page {
  margin-top: 60px;
  width: 100%;
  position: relative;
  background-color: rgba(117, 151, 164, 0.46);
}

.portfolio_page h1 {
  font-size: 60px;
  padding-top: 40px;
  color: var(--button1);
  font-weight: bolder;
  text-align: center;
}

.portfolio_page .all_buttons {
  padding-left: 20px;
}

.portfolio_page button {
  font-size: 20px;
  font-weight: bold;
  justify-content: left;
  padding: 5px;
  margin: 2px;
  background-color: rgba(16, 15, 15, 0.207);
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.portfolio_page button:hover {
  background-color: rgba(16, 15, 15, 0.407);

}

.portfolio_page button.active-button {
  background-color: var(--currentback);
  color: var(--hovercolor);
}

@media screen and (max-width:420px) {

  .portfolio_page h1 {
    font-size: 25px;
    padding-bottom: 15px;
  }

  .portfolio_page .all_buttons {
    padding-left: 10px;
  }

  .portfolio_page button {
    font-size: 15px;
  }
}

@media screen and (max-width:375px) {
  .portfolio_page h1 {
    font-size: 20px;
    padding: 20px;
    padding-left: 10px;
  }

  .portfolio_page button {
    font-size: 12px;
  }
}

/* portfolio items entries */
.portfolio_section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 40px;
  padding-bottom: 40px;
  /* background-color: var(--projectspage); */
}

.portfolio_section .portfolio_item {
  border: 10px solid var(--currentback);
  margin: 5px;
  width: 32%;

  background-color: var(--currentback);
}

.portfolio_section .portfolio_item .portfolio_item_inner .portfolio_image img {
  height: 300px;
}

.portfolio_section .portfolio_item .portfolio_item_inner .portfolio_image a {
  text-decoration: none;
  color: white;
}

.portfolio_section .portfolio_item .portfolio_item_inner .portfolio_image a h3 {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width:1000px) {

  /* .portfolio_section{
    display: block;
  } */
  .portfolio_section .portfolio_item {
    width: 47%;
  }
}

@media screen and (max-width:630px) {
  .portfolio_section .portfolio_item {
    width: 90%;
  }
}

@media screen and (max-width:420px) {
  .portfolio_section {
    padding-left: 20px;
  }

  .portfolio_section .portfolio_item .portfolio_item_inner .portfolio_image a h3 {
    font-size: 17px;
  }
}

@media screen and (max-width:375px) {

  .portfolio_section {
    padding-left: 10px;
  }

  .portfolio_section .portfolio_item {
    object-fit: contain;
  }

  .portfolio_section .portfolio_item .portfolio_item_inner .portfolio_image a h3 {
    font-size: 14px;
  }
}



/* Document 5: Project 1: Kenya Population Analysis */
.image_title {
  margin-top: 40px;
  padding: 60px;
  width: 100%;
  background-color: var(--lightgeneral);
  position: relative;
}

.image_title h1 {
  font-size: 60px;
  color: var(--button1);
  font-weight: bolder;
  text-align: center;
  padding-bottom: 20px;
}

.image_title .intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 100%;
}

.image_title .intro .image {
  flex: 1;
  max-width: 50%;
  border-right: 5px solid var(--currentback);
  padding-right: 40px;
}

.image_title .intro .image img {
  width: 100%;
  height: 50vh;
  border-radius: 8px;
}

.image_title .intro .text {
  flex: 1;
  text-align: left;
}

.image_title .intro .text h2 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 20px;
  color: var(--currentback);
}

.image_title .intro .text p {
  font-size: 20px;
  padding: 5px;
  font-style: italic;
  padding-bottom: 10px;
}

.image_title .intro .text .button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid var(--navibar);
  border-radius: 20px;
  text-decoration: none;
  color: var(--navibar);
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s ease;
}

.image_title .intro .text .button:hover {
  background-color: var(--hoverfade);
  border: none;
  color: var(--hovercolor);
}

@media screen and (max-width:610px) {
  .image_title .intro .image {
    border-right: none;
    padding-right: 0px;
  }
}

@media screen and (max-width:585px) {
  .image img {
    object-fit: contain;
  }

  .image_title .intro .text .button {
    padding: 10px;
    font-size: 17px;
  }
}

@media screen and (max-width:600px) {
  .image_title {
    padding: 30px;
  }

  .image_title h1 {
    font-size: 25px;
    padding: 20px;
  }

  .image_title .intro {
    display: block;
    gap: 0px;
    padding: 0px;
    margin: 0px;
  }

  .image_title .intro .image {
    display: block;
  }

  .image_title .intro .image img {
    width: 300px;
    height: 50%;
  }

  .image_title .intro .text {
    flex: 1;
    text-align: left;
  }

  .image_title .intro .text h2 {
    font-size: 20px;
    padding: 10px;
  }

  .image_title .intro .text p {
    font-size: 15px;
    padding: 10px;
  }

  .image_title .intro .text .button {
    padding: 8px;
    font-size: 15px;
  }
}

@media screen and (max-width:375px) {
  .image_title {
    padding: 15px;
  }

  .image_title h1 {
    font-size: 20px;
  }

  .image_title .intro .text .button {
    font-size: 15px;
  }
}

/* part 2 Credits. */
.credits {
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--contactbackground);
}

.credits h3 {
  font-size: 25px;
  color: var(--currentback);
  font-weight: bold;
}

.credits p {
  font-size: 20px;
}

@media screen and (max-width:786px) {
  .credits {
    padding: 20px;
  }
}

@media screen and (max-width:430px) {
  .credits h3 {
    font-size: 17px;
  }

  .credits p {
    font-size: 15px;
  }
}

@media screen and (max-width:375px) {
  .credits {
    display: block;
  }

  .image_title .intro .image img {
    width: 100%;
  }

  .credits h3 {
    padding-bottom: 5px;
  }

  .credits p {
    padding-bottom: 10px;
  }
}

/* Part 3: Proj prief Description*/
.project {
  padding: 40px;
  background-color: var(--projectspage);
}

.project h2 {
  font-size: 40px;
  font-weight: bold;
  color: var(--currentback);
  padding-bottom: 10px;
}

.project p {
  font-size: 20px;
  padding: 5px;
}

.project h3 {
  font-size: 25px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--currentback);
}

.project a {
  text-decoration: none;

}

.project a p {
  font-size: 20px;

  color: var(--navibar);
  font-weight: bold;
}

.project a p span {
  font-size: 20px;
}

.project .result_links a p {
  margin-bottom: 20px;
  cursor: pointer;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--currentback);
  background-color: var(--projectspage);
}

.project .result_links a p:hover {
  background-color: var(--contactbackground)
}

@media screen and (max-width:420px) {
  .project {
    padding: 20px;
  }

  .project h2 {
    font-size: 20px;
  }

  .project p {
    font-size: 15px;
  }

  .project h3 {
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .project a p {
    font-size: 15px;

  }

  .project a p span {
    font-size: 15px;
  }

  .project .result_links a p {
    margin-bottom: 20px;
    cursor: pointer;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--currentback);
    background-color: var(--projectspage);
  }
}

@media screen and (max-width:375px) {
  .project {
    padding: 15px;
  }
}

/* Document 6: Project 2:  */