/* index html......... 
Universal styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  scroll-behavior: smooth;
  color: var(--text);
  background-color: var(--bcgc);
  line-height: 1.5;
}


/* defining colors */
:root {
  --text: #eae4d8;
  --bcgc: #181818;
  --hover: lightpink;
}

/* part 1: navigation bar styling */
.header {
  text-align: right;
  height: 80px;
  padding: 10px 50px;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav_bar ul {
  list-style: none;
  overflow: hidden;
}

.header .nav_bar ul li {
  display: inline-block;
}

.header .nav_bar ul li a {
  text-decoration: none;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 1000;
  display: inline-block;
  line-height: 30px;
  transition: 0.25s;
}

.header .nav_bar ul li a:hover {

  color: var(--hover);
}

.header .nav_bar ul li a.active {
  color: var(--hover);
  padding: 5px;
}

.header .menu_icon {
  font-size: 30px;
  cursor: pointer;
  color: var(--hover);
}

.menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0px 10px;
    margin: 0px;
    justify-content: space-between;
    height: 0px;


  }

  .header .menu {
    display: block;
    border-bottom: 1px solid var(--hover);
  }

  .header .nav_bar {
    position: absolute;
    width: 100%;
    margin: 10px;
    height: 0vh;
    top: 60px;
    left: 0;
    overflow: hidden;
    transition: 0.3s;
    /* border-bottom: 1px solid var(--hover); */
  }

  .header .add_cls {
    height: 30vh;
  }

  .header .nav_bar ul li {
    display: block;
    text-align: center;
    border-top: 1px solid var(--hover);
  }

  .header .nav_bar ul li a {
    line-height: 45px;
    font-size: 15px;
  }
}

@media screen and (max-width:450px) {
  .header .nav_bar ul {
    line-height: 15px;
  }

  .header .nav_bar ul li a {
    /* line-height: 60px; */
    padding: 0px;
  }

}

@media screen and (max-width: 375px) {
  .header {
    margin: 0;
  }

}

/* part 2: home landing page styles */
.home_page {
  margin: 72px 70px 10px 70px;
  position: relative;

}

.logo {
  text-align: left;
  color: var(--hover);
  font-weight: bolder;
  font-style: italic;
  text-decoration: none;
  font-size: 25px;
}

.landing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  margin: auto;
}

.profile_image {
  padding: 20px;

}

.pic_image {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}

h1 {

  font-size: 60px;
  color: var(--hover);
  font-weight: bolder;
  padding-bottom: 20px
}

p {
  text-align: left;
}

button {
  border: none;
  outline: none;
  margin-top: 30px;
}

.butts {

  display: flex;
  padding-bottom: 30px
}

.more_button {
  background: none;
  margin: 50px;
  background: none;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  outline: none;
  padding: 10px;
  border: 2px solid var(--hover);
  border-radius: 30px;

}

.more_button:hover {
  background: var(--hover);
  color: var(--bcgc);
  transition: 0.5s;
}

.about_section .research_inte {
  font-style: italic;
  color: var(--hover);
}

@media screen and (max-width:1250px) {
  .more_button {
    margin: 20px;
  }

  h1 {
    font-size: 50px;
  }
}

@media screen and (max-width:1100px) {
  .home_page {
    margin: 72px 20px 0px 20px;
  }

  .landing {
    gap: 10px;
  }

  .more_button {
    margin: 5px;

  }

}

@media screen and (max-width:850px) {
  .profile_image {
    padding: 10px;
  }

  .pic_image {
    width: 300px;
    height: 300px;
  }

  h1 {
    font-size: 40px;
    padding-bottom: 10px
  }
}

@media screen and (max-width:768px) {
  .home_page {
    margin-top: 50px;

  }

  .landing {
    display: block;
    gap: 0px;
    padding: 0px;
  }

  h1 {
    font-size: 40px;
  }
}

@media screen and (max-width:475px) {
  h1 {
    font-size: 30px;
  }

  .butts {
    padding: 10px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width:380px) {
  .home_page {
    margin: 72px 10px 0px 10px;
  }

  .logo {
    font-size: 20px;
  }

  button {
    margin: 10px 0px 10px;
  }

  .butts {
    display: block;
  }

  .pic_image {
    width: 100px;
    height: 100px;
  }

  h1 {
    font-size: 20px;

  }

  .more_button {
    padding: 5px;

  }

  .about_section .research_inte {
    font-size: 15px;
  }
}


/* Part 3: project Spotlights page style */
.projects_highlight {
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;

}

.projects_highlight h1 {
  font-size: 40px;
  /* padding-top: 40px; */
  font-weight: bolder;
  text-align: center;
  color: var(--hover);
}


.projects_highlight .card-wrapper {

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: auto;
  margin: 0 60px 10px;
  padding: 20px 10px;
  overflow: hidden;

}

.projects_highlight .card-wrapper .project_highlight {
  margin-bottom: 30px;
}

.projects_highlight .card-wrapper .project_highlight .card-item {
  list-style: none;
}

.projects_highlight .card-wrapper .project_highlight .card-link {
  min-height: 68vh;
  height: 100%;
  user-select: none;
  display: block;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 10px 10px 10px 10px black;
  transition: 0.2s ease;
}

.projects_highlight .card-wrapper .project_highlight .card-link:active {
  cursor: grabbing;
}

.projects_highlight .card-wrapper .project_highlight .card-link:hover {
  border-color: var(--hover);
}

.projects_highlight .card-wrapper .project_highlight .card-link .card-image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: fill;
  border-radius: 10px;
}

.projects_highlight .card-wrapper .project_highlight .card-link .badge {
  font-weight: bold;
  padding: 0 8px;
  font-size: 20px;
}

.projects_highlight .card-wrapper .project_highlight .card-link h3 {
  font-size: 18px;
  font-style: italic;
  padding: 8px 16px;
  font-weight: 300;
}

.projects_highlight .card-wrapper .project_highlight .card-link .card-title {
  font-size: 15px;
  padding: 10px;
  font-weight: 400;
}

.projects_highlight .card-wrapper .project_highlight .card-link .card-button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: 10px;
  transform: rotate(-45deg);
  background: var(--bcgc);
  cursor: pointer;
  color: var(--text);
  font-size: 25px;
  transition: 0.4s ease;
  border: 2px solid var(--hover);
  margin-bottom: 0;
  padding-bottom: 0px;

}

.projects_highlight .card-wrapper .project_highlight .card-link:hover .card-button {
  color: var(--bcgc);
  background: var(--hover);
  border: none;
}

.projects_highlight .card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  background: var(--hover);
  padding: 0px;
}

.projects_highlight .card-wrapper .swiper-slide-button {
  color: var(--hover);
  margin-top: -35px;
  margin-left: 15px;
  margin-right: 15px;


}

@media screen and (max-width:768px) {
  .projects_highlight h1 {

    padding-top: 20px;
  }

  .projects_highlight .card-wrapper {
    margin: 0 30px 10px 30px;
  }

  .projects_highlight .card-wrapper .swiper-slide-button {

    margin-left: -5px;
    margin-right: -5px;
  }

  .projects_highlight h1 {
    font-size: 30px;
  }

}

@media screen and (max-width:450px) {

  /* padding-top: 40px; */
  .projects_highlight .card-wrapper {
    margin: 0 25px 10px 25px;
    padding: 20px 10px;
    overflow: hidden;
  }

  .projects_highlight h1 {
    font-size: 25px;
  }

  .projects_highlight .card-wrapper .swiper-slide-button {

    margin-left: -4px;
    margin-right: -4px;
  }

  .projects_highlight .card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
  }

}

@media screen and (max-width:375px) {
  .projects_highlight {
    margin: 0px;
    padding: 0px;
  }

  .projects_highlight h1 {
    font-size: 20px;
  }

  .projects_highlight .card-wrapper {
    margin: 0 15px 10px 15px;
    padding: 5px 1px;
    overflow: hidden;
  }


  .projects_highlight .card-wrapper .swiper-slide-button {
    display: none;
  }

  .projects_highlight .card-wrapper .project_highlight h1 {
    font-size: 20px;
  }

  .card-wrapper {
    margin: 20px;
    padding: 0px;
  }

  .projects_highlight .card-wrapper .project_highlight .card-link .badge {
    font-size: 15px;
    padding: 0px;
  }

  .projects_highlight .card-wrapper .project_highlight .card-link h3 {
    font-size: 17px;
    padding: 0px;
  }

  .projects_highlight .card-wrapper .project_highlight .card-link .card-title {
    padding: 5px;
  }

  .projects_highlight .card-wrapper .project_highlight .card-link .card-button {
    height: 25px;
    width: 25px;
    margin: 5px 0 5px;
    font-size: 20px;

  }

  .card-wrapper .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
  }
}

/* Part 3:  Contact page styling */
.contact_page {
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;

}

.contact_page .contact_contents h1 {
  color: var(--hover);
  font-size: 40px;
  font-weight: bolder;
  padding-top: 20px;

}

.contact_page .contact_contents p {
  padding: 10px;
  text-align: center;
  font-style: italic;
}

.contact_page .contact_contents p a {
  color: var(--hover);
}


@media screen and (max-width: 450px) {
  .contact_page .contact_contents {
    padding: 5px;
    /* z-index: 0; */
  }

  .contact_page .contact_contents h1 {
    font-size: 20px;
  }

  .currents .works .pics .images {
    padding-left: 10px;
  }

  .currents .works .pics .images a img {
    width: 48%;
  }

  .contact_page .contact_contents .close {
    margin-top: 0px;
  }
}

@media screen and (max-width: 375px) {
  .contact_page .contact_contents h1 {
    font-size: 16px;
  }

  .contact_page .contact_contents p a {
    font-size: 10px;
  }
}

/* Part 4: Footer stles  */
.footer_page {
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 15px;
}


.footer_page .social_links {
  padding: 10px;
}

.footer_page .social_links a {
  text-decoration: none;
  padding: 10px;
  background-color: var(--bcgc);
  margin: 10px;
  font-size: 25px;
}

.footer_page .social_links a:hover {
  background-color: black;
  transition: 0.5s;
}

.footer_page .social_links a i {
  font-size: 30px;
  color: var(--hover);
}

.footer_page .social_links a i:hover {
  color: var(--hover);
  transition: 0.5s;
}

.footer_bottom {
  display: flex;
  justify-content: center;
  padding: 5px 15px;
  text-align: center;
  border-top: 1px solid var(--hover);

}

.footer_bottom p {
  font-size: 10px;
  align-items: center;
  padding: 15px;
}

@media screen and (max-width: 475px) {
  .footer_page .social_links a {
    font-size: 20px;
  }

  .footer_page .social_links a i {
    font-size: 25px;
  }
}

@media screen and (max-width: 395px) {
  .footer_page .social_links a {
    font-size: 18px;
  }

  .footer_page .social_links a i {
    font-size: 20px;
  }
}

@media screen and (max-width: 375px) {
  .footer_page {
    padding: 5px;
  }

  .footer_page .social_links {
    padding: 5px;
  }

  .footer_page .social_links a {
    margin: 0px;
    padding: 5px;
    font-size: 15px;
  }

  .footer_page .social_links a i {
    font-size: 15px;
    padding: 3px;
  }

  .footer_bottom p {
    padding: 5px;
    font-size: 10px;
  }
}

/* Document 2: About html */
/* Part 2: About Landing Page  */
.home_landing {
  margin: 72px 70px 0px 70px;
}

.home_landing h1 {
  font-size: 40px;
  color: var(--hover);
  font-weight: bolder;
  text-align: center;
}


.home_landing p {
  padding: 5px;
}

.home_landing .aboutme_content .me_image {
  height: 500px;
  width: 500px;
  float: left;
  padding: 10px 20px 5px 0px;
  object-fit: cover;
  border-radius: 5%;
}

.home_landing .items {
  margin: 0px 70px;
}

.liness {
  border-top: 1px solid var(--hover);
}

@media screen and (max-width: 786px) {

  .home_landing {
    margin: 50px 20px 0px 20px;

  }

  .home_landing .items {
    margin: 0px 20px;
  }

  .home_landing .aboutme_content .me_image {
    width: 80%;
    height: 100%;

  }
}

@media screen and (max-width: 580px) {

  .home_landing h1 {
    font-size: 30px;
  }

  .home_landing .about_section {
    padding: 10px;
    margin: 0px;
  }

  .home_landing .items h3 {
    font-size: 15px;
  }

  .home_landing .aboutme_content .me_image {
    width: 100%;

  }

  .home_landing .items h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 375px) {
  .home_landing .items {
    padding: 0px;
    margin: 0px;
  }

  .home_landing .items h2 {
    font-size: 18px;
  }
}

/* Part 2 - Volunteerism */

.home_landing h2 {
  font-size: 40px;
  text-align: center;
  color: var(--hover);
  font-weight: bolder;
}

.home_landing h3 {
  font-size: 20px;
  font-weight: bold;
}

.home_landing ol {
  padding-bottom: 10px;
}

@media screen and (max-width: 375px) {
  .home_landing h2 {
    font-size: 20px;

  }

  .home_landing h3 {
    font-size: 15px;
  }
}


/* Document3: Resume */
.resume {
  margin: 72px 100px 5px 100px;
}

.resume h1{
  text-align: center;
  padding-bottom: 0px;
}
.resume h2 {
  font-size: 40px;
  color: var(--hover);
  font-weight: bolder;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .resume {
    margin: 50px 40px 0px 40px;
  }
}

@media screen and (max-width: 450px) {
  .resume h1{
    font-size: 40px;
  }
  .resume h2 {
    font-size: 30px;
    padding-top: 0px;
  }
}

@media screen and (max-width: 375px) {

  .resume h2 {
    font-size: 20px;
  }

  .resume {
    margin: 72px 25px 0px 25px;
  }

}

/* Part 1 Education */
.education {
  padding-left: 10px;
  border-left: 4px solid var(--hover);
}

.education .dates {
  font-style: italic;
}

.education .school {
  font-size: 20px;
}

.education .second {
  padding-bottom: 20px;
}

.education .program {
  font-style: italic;
  color: var(--hover);
}

/* Research Interest */
.resume .interest {
  padding-top: 20px;

}

.resume .interest ul.b {
  list-style: square;
}

.resume .mores {
  font-size: 20px;
  color: var(--hover);
  font-style: italic;
  padding: 5px 10px 0px 10px;
  margin: 0px;
}

/* Skills */
.resume .skills h3 {
  font-size: 20px;
  color: var(--hover);
  font-weight: bold;
}

@media screen and (max-width:375px) {
  .education {
    padding-left: 5px;
  }

  .education .school {
    font-size: 15px;
  }

}

/* Part 4: Certification Page */
.certification {
  margin: 20px 50px;
}

.certification h2 {
  font-size: 40px;
  color: var(--hover);
  text-align: center;
  font-weight: bolder;
}

.resume .train {
  padding: 5px;
  margin: 10px;
}

.image_collage {
  margin: 10px 50px;
  box-shadow: 0 0 40px black;
}

.image_collage table {
  max-width: 100%;
}

.image_collage td {
  border-top: 2px solid black;
  border-right: 2px solid black;
  width: 25%;
  box-shadow: 0 0 30px black;
}

.image_collage td img {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.image_collage p {
  padding: 5px;
}

.image_collage p a {
  font-size: 15px;
}

@media screen and (max-width:450px) {
  .certification p {
    margin: 10px;
  }

  .image_collage {
    margin: 0px 20px;
  }

  .image_collage p {
    font-size: 10px;
  }

  .image_collage p a {
    font-size: 10px;
  }

  .certification h2 {
    font-size: 30px;
  }
}

@media screen and (max-width:450px) {
  .certification {
    margin: 5px 10px;
  }

  .certification h2 {
    font-size: 18px;
  }

  .image_collage {
    padding: 5px;
  }

}



/* Document 4 : Portifolio */
.portfolio_page {
  margin: 15px 20px;
}

.portfolio_page h1 {
  font-size: 60px;
  padding-top: 40px;
  color: var(--hover);
  font-weight: bolder;
  text-align: center;
}

.portfolio_page .all_buttons {
  padding-left: 20px;
}

.portfolio_page button {
  /* font-size: 20px; */
  font-weight: bold;
  justify-content: left;
  padding: 5px;
  margin: 2px;
  background-color: black;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.portfolio_page button:hover {
  background-color: var(--hover);
  color: black;

}

.portfolio_page button.active-button {
  background-color: var(--hover);
  color: black;
}

@media screen and (max-width:450px) {
  .portfolio_page {
    margin: 40px 20px;
  }

  .portfolio_page h1 {
    font-size: 40px;
  }

  .portfolio_page .all_buttons {
    padding-left: 10px;
  }

  .portfolio_page button {
    font-size: 15px;
  }
}

@media screen and (max-width:375px) {
  .portfolio_page {
    margin: 40px 10px;
  }

  .portfolio_page h1 {
    font-size: 20px;
    padding-left: 10px;
  }

  .portfolio_page button {
    font-size: 12px;
  }
}

/* portfolio items entries */
.portfolio_section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 40px;
  padding-bottom: 40px;
}

.portfolio_section .portfolio_item {
  border: 10px solid black;
  margin: 5px;
  width: 32%;
  box-shadow: 0 0 40px black;
}

.portfolio_section .portfolio_item:hover {
  border: 10px solid var(--hover);
}

.portfolio_section .portfolio_item .portfolio_item_inner .portfolio_image img {
  height: 300px;
}

.portfolio_section .portfolio_item .portfolio_item_inner .portfolio_image a {
  text-decoration: none;
  color: white;
}

.portfolio_section .portfolio_item .portfolio_item_inner .portfolio_image a h3 {
  font-size: 15px;
  padding: 5px;
  font-weight: bold;
}

@media screen and (max-width:1000px) {

  /* .portfolio_section{
    display: block;
  } */
  .portfolio_section .portfolio_item {
    width: 47%;
  }
}

@media screen and (max-width:630px) {
  .portfolio_section .portfolio_item {
    width: 90%;
  }
}

@media screen and (max-width:450px) {
  .portfolio_section {
    padding-left: 30px;
  }

}

@media screen and (max-width:375px) {

  .portfolio_section {
    padding-left: 10px;
  }

  .portfolio_section .portfolio_item {
    object-fit: contain;
  }

}



/* Document 5: Project 1: Kenya Population Analysis */
.image_title {
  margin-top: 40px;
  padding: 60px;
  width: 100%;
  position: relative;
}

.image_title .intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 100%;
}

.image_title .intro .image {
  flex: 1;
  max-width: 50%;
  border-right: 2px solid var(--hover);
  padding-right: 40px;
}

.image_title .intro .image img {
  width: 100%;
  height: 50vh;
  border-radius: 8px;
}

.image_title .intro .text {
  flex: 1;
  text-align: left;
}

.image_title .intro .text h2 {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
  color: var(--hover);
}

.image_title .intro .text p {
  font-size: 15px;
  padding: 5px;
  font-style: italic;
  padding-bottom: 10px;
}

.image_title .intro .text .button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid var(--hover);
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  transition: 0.3s ease;
}

.image_title .intro .text .button:hover {
  background-color: var(--hover);
  border: none;
  color: black;
}

@media screen and (max-width:610px) {
  .image_title .intro .image {
    border-right: none;
    padding-right: 0px;
  }
}

@media screen and (max-width:585px) {
  .image img {
    object-fit: contain;
  }

  .image_title .intro .text .button {
    padding: 10px;
    font-size: 15px;
  }
}

@media screen and (max-width:600px) {
  .image_title {
    padding: 30px;
  }


  .image_title .intro {
    display: block;
    gap: 0px;
    padding: 0px;
    margin: 0px;
  }

  .image_title .intro .image {
    display: block;
  }

  .image_title .intro .image img {
    width: 300px;
    height: 50%;
  }

  .image_title .intro .text {
    flex: 1;
    text-align: left;
  }

  .image_title .intro .text h2 {
    font-size: 15px;
    padding: 10px;
  }

  .image_title .intro .text p {
    font-size: 15px;
    padding: 10px;
  }

  .image_title .intro .text .button {
    padding: 8px;
    font-size: 15px;
  }
}

@media screen and (max-width:375px) {
  .image_title {
    padding: 15px;
  }

  .image_title h1 {
    font-size: 20px;
    padding-left: 0;
  }

  .image_title .intro .text .button {
    font-size: 15px;
  }
}

/* part 2 Credits. */
.credits {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--contactbackground);
}

.credits h3 {
  font-size: 15px;
  color: var(--currentback);
  font-weight: bold;
}

.credits p {
  font-size: 15px;
}

@media screen and (max-width:786px) {
  .credits {
    padding: 20px;
  }
}

@media screen and (max-width:450px) {
  .credits h3 {
    font-size: 15px;
  }

  .credits p {
    font-size: 15px;
  }
}

@media screen and (max-width:375px) {
  .credits {
    display: block;
  }

  .image_title .intro .image img {
    width: 100%;
  }

  .credits h3 {
    padding-bottom: 5px;
  }

  .credits p {
    padding-bottom: 10px;
  }
}

/* Part 3: Proj prief Description*/
.project {
  padding: 40px;
  background-color: var(--projectspage);
}

.project h2 {
  font-size: 20px;
  font-weight: bold;
  color: var(--hover);
  padding-bottom: 10px;
}

.project p {
  font-size: 15px;
  padding: 5px;
}

.project h3 {
  font-size: 15px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project a {
  text-decoration: none;


}

.project a p {
  font-size: 15px;
  font-weight: bold;
}

.project a p span {
  font-size: 15px;
}

.project .result_links a p {
  margin-bottom: 20px;
  cursor: pointer;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--hover);
}

.project .result_links a p:hover {
  background-color: var(--hover);
  color: black;

}


@media screen and (max-width:450px) {
  .project {
    padding: 20px;
  }

  .project h2 {
    font-size: 20px;
  }

  .project p {
    font-size: 15px;
  }

  .project h3 {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .project a p {
    font-size: 15px;

  }

  .project a p span {
    font-size: 15px;
  }

  .project .result_links a p {
    margin-bottom: 20px;
    cursor: pointer;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--currentback);
    background-color: var(--projectspage);
  }
}

@media screen and (max-width:375px) {
  .project {
    padding: 15px;
  }
}

/* Document 6: Maps Collection:  */



/* Kisii LULC Project  */
.objectives {
  margin-bottom: 20px;
}

.objectives ol {
  padding-left: 40px;
}

.objectives ol li {
  list-style-type: upper-roman;
  font-size: 20px;
}

.objectives ul {
  padding-left: 40px;
}

.objectives ul li {
  list-style-type: lower-roman;
  font-size: 20px;
}

.objectives ul li a {
  font-size: 15px;
}

.method {
  margin-top: 20px;
  height: 100%;
}

.method p {
  margin-top: 0;
  padding-top: 0;
}

.method img {
  padding-top: 10px;
  width: 90%;
  align-items: center;
  display: block;
  object-fit: contain;
  margin: auto;
  max-height: 650px;
}

.method ul {
  padding-left: 40px;
}

.method ul li {
  font-size: 20px;
}

@media screen and (max-width:450px) {
  .objectives {
    margin-bottom: 10px;
  }

  .objectives ol {
    padding-left: 25px;
  }

  .objectives ol li {
    font-size: 15px;
  }

  .objectives ul {
    padding-left: 25px;
  }

  .objectives ul li {
    font-size: 15px;
  }

  .objectives ul li a {
    font-size: 15px;
  }

  .method ul {
    padding-left: 25px;
  }

  .method ul li {
    font-size: 15px;
  }
}

@media screen and (max-width:375px) {
  .method h2 {
    font-size: 18px;
  }

  .objectives ol {
    padding-left: 15px;
  }

  .objectives ul {
    padding-left: 15px;
  }
}

/* Siaya Change Detection */

.videos video {

  display: block;
  margin: auto;
  align-items: center;
  object-fit: contain;
  width: 80%;
  max-height: 650px;
}